select{
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
}

.formulario{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 50px auto;
    background-color: rgb(255, 78, 78);
    width: 500px;
    height: 500px;
}

input{
    border-style: none;
    outline-color: burlywood ;
    margin: 5px 0;
    height: 50px;
    color: brown;
} 
body{
    background-color: bisque;
}





